html	{
	width: 100%;
	height: 100%;
}

body	{
	background-color: #FFFFFC;
	color: white;
	font-family: bodyFont;
	font-size: 14px;
	text-align: justify;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}   

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

/*.........................................*/
/* NAVBAR */	
/*.........................................*/		
/*nav {
	list-style-type: none;
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: fixed;
	background-color: white;
	z-index: 5;
}

nav:hover{
	background-color: #133749;
	opacity: 0.9;
}

nav li {float: left;}

nav li a {
	display: block;
	color: black;
	font-family: navFont;
	text-transform: uppercase;
	text-align: center;
	padding: 14px 35px;
	letter-spacing: 3px;
	text-decoration: none;
}

nav li a:hover:not(.active) {
	background-color: #6aa0aa;
	opacity: 1;

}*/

.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 5;
  opacity: 0.95;
  box-shadow: 0px 0px 30px 1px #000000;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .container {
  display: none;
}

#foo{
	position: fixed;
	color: black;
}

@media screen and (max-width: 600px) {
	.topnav{position: static;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.container {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .container {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}





/* NAV TITLE */
#header	{
	padding-right: 50px;
	display: inline-block;
	font-family: navFont;
	font-weight: bold;
	color: black; /* Wellington CRC WORD */
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*========================================*/	
/*Pages Set-up*/
/*========================================*/	

[class*='block-']{
	width: 100%;
	height:100%;
}

[class*='cols-']{
	float:left;
	padding:10px;
}

[class*='cols-one']{
	width: 100%;
}

[class*='cols-two']{
	width: 50%;
}

[class*='cols-three']{
	width: 33.3%;
}

header a {
	cursor: pointer;
	font-size: 14px;
}

/*========================================*/	
/* Landing Page*/
/*========================================*/	
#home	{
	background-image: url(images/background/landingImage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: static; 
}	

/*========================================*/	
/* Project Page*/
/*========================================*/	
#page1	{
	background-image: url(images/background/harro.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	width: 100%;
	height: 85%;
	position: static; 
}	
/*change colur when in small breakpoint*/

/*========================================*/	
/* Issue Page*/
/*========================================*/	
#page2	{
	background-color: white;
	width: 100%;
	height: auto;
}	

.block-issue{
	overflow: auto;
}

.padding-bottom{
	padding-bottom: 20px;
}

.square-container {
	max-width: 410px;
	width: 100%;
	position: relative;
	margin: auto;
}

.stepCounter1{
	max-width: 40px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}
.stepCounter{
	max-width: 80px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

.apptDemo{
	max-width: 500px;
	height: auto;
}


.issueImage{
	max-width: 800px;
	height: auto;
}

@media screen and (max-width: 300px) {
	.apptDemo{
		max-width: 20%;
		height: auto;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 1200px) {
	.apptDemo{
		display: block;
		margin-right: auto;
		margin-left: auto;
		max-width: 80%;
		height: auto;
	}
}

@media screen and (max-width: 900px) {	
	.issueImage{
		max-width: 50%;
		height: auto;
		margin-top: -100px;
	}
}


/*========================================*/	
/* About Page*/
/*========================================*/	
#page3	{
	background-image: url(images/background/issueBack.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative; 
}	

#page3b {
	background-image: url(images/background/background2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative; 
}	

#page3c{
	background-color: white;
}

@media screen and (max-width: 700px) {
#page3{
	width: 100%;
	height: auto;
	overflow: auto;
}
}
/*========================================*/	
/* Plan Page*/
/*========================================*/	
.block-plan{
	background-color: #133749;
	overflow: auto;
}

/*========================================*/	
/* Global */
/*========================================*/	
@media screen and (max-width: 600px) {
	[class*='block-']{
		width: auto;
		height: auto;
	}

	[class*='cols-']{
		width: 100%;
	}
}

